
* {
    box-sizing: border-box;
}

body {
    background: #808080;
    display: flex;
    justify-content: center;
    align-content: center;
}



canvas {
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
}